/* 
    IMPORTING FILES
                    */

@import 'node_modules/bootstrap/scss/bootstrap.scss';

/* scss utilities */
@import "./scss-utils/variables";
@import "./scss-utils/mixins";
@import "./scss-utils/containers";
@import "./scss-utils/animations";

/* base */
@import "./base/typography";
@import "./base/reset";
@import "./base/reusable";

/* components */
@import "./components/buttons";
@import "./components/icons";
@import "./components/navigation";
@import "./components/secondary-navigation";
@import "./components/map";
@import "./components/dropdown";
@import "./components/news";
@import "./components/news-aside";
@import "./components/searchbookform";
@import "./components/gallery";
@import "./components/infowindow";
@import "./components/filterproduct";
@import "./components/selectedbook";
@import "./components/introduction";
@import "./components/register";
@import "./components/login";
@import "./components/page-footer";
@import "./components/subheader";
@import "./components/subfooter";
@import "./components/form";

/* page layout */
@import "page-layout/library-detail";
@import "page-layout/book-detail";
@import "page-layout/creator-detail";

.btn-light {
  --bs-btn-color: #000;
  --bs-btn-bg: #fff;
  --bs-btn-border-color: transparent;
  --bs-btn-hover-color: #000;
  --bs-btn-hover-bg: #E6E6E6;
  --bs-btn-hover-border-color: transparent;
  --bs-btn-active-color: #000;
  --bs-btn-active-bg: #E6E6E6;
  --bs-btn-active-border-color: transparent;
}

.nav {
  --bs-nav-link-color: #{$medium-emphasys};
  --bs-nav-link-hover-color: #{$high-emphasys};
}

.nav-tabs {
  --bs-nav-tabs-border-width: 2px;
  --bs-nav-tabs-border-color: transparent;
  --bs-nav-tabs-link-hover-border-color: transparent transparent #{$primary};
  --bs-nav-tabs-link-active-border-color: transparent transparent #{$primary};
  --bs-nav-tabs-link-active-color: #{$high-emphasys};
}

.nav-tabs .nav-link.active {
  --bs-nav-link-font-weight: 500;
}

//@import 'node_modules/bootstrap-vue/src/index.scss';