* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $font-family;
}

a {
  text-decoration: none;
  color: initial;
}

li {
  list-style-type: none;
}

img {
  max-width: 100%;
  height: auto;
}

p {
  margin-bottom: 0;
}

ul {
  padding-left: 0;
}

svg {
  vertical-align: unset;
}

h3, h4, h5 {
  margin-bottom: 0;
}