.text-underlined {
  text-decoration: underline;
}

.gap-2em {
  gap: 2em !important;
}

.cursor-pointer {
  cursor: pointer;
}

.d-flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.book-list__product__author {
  display: flex;
  gap: 0.5em;
}

.bg-1 {
  background-color: $background;
}

.bg-2 {
  background-color: $high-emphasys-inverse;
}

.grey-10 {
  background-color: $grey-10;
}

.pt-32 {
  padding-top: 2em;
}

.pb-32 {
  padding-bottom: 2em;
}

.mt-32 {
  margin-top: 2em;
}

.mb-32 {
  margin-bottom: 2em;
}

.mb-16 {
  margin-bottom: 1em;
}

.text-md-emp {
  color: $medium-emphasys;
}

.text-h-emp {
  color: $high-emphasys;
}

.my-primary-btn {
  @include my-btn($primary, $high-emphasys-inverse);
}

.size-15 {
  font-size: 15px;
}

.size-18 {
  font-size: 18px;
}

.profile-settings {
  overflow-y: scroll !important;
  overflow-x: hidden !important;
  max-height: 510px !important;

  #number-input-sm {
    padding-right: 0 !important;
    max-width: 80px;
  }

  #number-input-sm-2 {
    padding-left: 0.4em !important;
  }

  #about-me {
    input {
      height: 200px;
    }
  }
}

.about-user {
  background-color: #f2f2f2 !important;
}

