.text-underlined {
  text-decoration: underline;
}

.gap-2em {
  gap: 2em !important;
}

.cursor-pointer {
  cursor: pointer;
}

.d-flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.book-list__product__author {
  display: flex;
  gap: 0.5em;
}

.bg-1 {
  background-color: $background;
}

.bg-2 {
  background-color: $high-emphasys-inverse;
}