@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500&display=swap");

body {
  font-family: $font-family;
}

a {
  color: $high-emphasys;
}

.main-header {
  a {
    font-size: $font-size-15;
    font-weight: $font-weight-normal;
  }

  .login-nav-btn {
    color: $high-emphasys;
  }
}

.main-heading {
  font-size: $font-size-26;
  font-weight: $font-weight-medium;
}

.heading-figcaption {
  color: $primary-80;
  font-size: $font-size-15;
  font-weight: $font-weight-medium;
}

.navigate-btn {
  font-size: $font-size-15;
  color: $high-emphasys-inverse;
}

.secondary-nav {
  a.active {
    font-weight: $font-weight-medium;
    color: $high-emphasys;
  }

  a {
    color: $medium-emphasys;
  }
}

.news__article {
  .article-heading {
    font-size: $font-size-15;
    font-weight: $font-weight-medium;
    color: $high-emphasys;
  }

  .date-figcaption {
    font-size: $font-size-13;
    color: $medium-emphasys;
  }

  .news__article__footer {
    .location {
      font-size: $font-size-13;
      color: $primary-80;
    }

    p {
      font-size: $font-size-15;
      color: $high-emphasys;
    }

    .details {
      p {
        font-size: $font-size-13;
        color: $high-emphasys;
      }

      .mark {
        color: $high-emphasys-inverse;
      }

      .date {
        font-weight: $font-weight-medium;
        color: $primary-80;
      }
    }
  }
}

.opened {
  font-size: $font-size-15;
  font-weight: $font-weight-medium;
  color: $text-color-opened;
}

.aside {
  .aside__heading {
    color: $high-emphasys;
  }

  .aside__informations__heading {
    font-size: $font-size-13;
    font-weight: $font-weight-normal;
    color: $medium-emphasys;
  }

  p {
    font-size: $font-size-15;
    font-weight: normal;
    color: $high-emphasys;
  }

  .more-informations {
    font-size: $font-size-13;
    color: $medium-emphasys;
  }
}

.search-article {
  #search-book {
    font-size: $font-size-15;
  }

  .drop-down {
    font-weight: $font-weight-normal;
  }

  .find-book {
    font-size: $font-size-15;
    color: $high-emphasys-inverse;
  }
}

.sub-menu {
  a {
    font-size: $font-size-15;
    font-weight: $font-weight-medium;
  }
}

.info-window {
  .store-informations {
    .store-informations__heading {
      font-size: $font-size-17;
      font-weight: $font-weight-bold;
      color: $high-emphasys;
    }

    .opened-p {
      font-size: $font-size-15;
      font-weight: normal;
      color: $high-emphasys;
    }

    .store-informations__address {
      font-size: $font-size-15;
      font-weight: $font-weight-normal;
      color: $medium-emphasys;
    }

    .book-list {
      font-size: $font-size-13;
      color: $high-emphasys-inverse;
    }
  }
}

.books__name {
  font-size: $font-size-15;
  font-weight: $font-weight-normal;
}

.books__author {
  font-size: $font-size-13;
  color: $medium-emphasys;
}

.filter-product {
  .filter-product__heading {
    font-size: $font-size-22;
  }

  .filter-product__label {
    font-weight: $font-weight-normal;
    font-size: $font-size-13;
    color: $medium-emphasys;
  }

  input[name="place"] {
    font-weight: $font-weight-normal;
    font-size: $font-size-15;
    color: $low-emphasys;
  }

  .filter-split__type {
    label {
      font-weight: $font-weight-normal;
      font-size: $font-size-15;
      color: $high-emphasys;
    }
  }
}

.slide-item {
  .slide-heading {
    font-weight: $font-weight-normal;
    font-size: $font-size-22;
    color: $high-emphasys-inverse;
    background-color: $high-emphasys;
  }

  .slide-paragraph {
    font-size: $font-size-15;
  }

  .new-slide {
    font-size: $font-size-15;
  }
}

.filter-book {
  font-size: $font-size-15;
  color: $high-emphasys-inverse;
}

.user-access__heading {
  font-weight: $font-weight-600;
  font-size: $font-size-22;
  color: $high-emphasys;
}

.user-access__figcaption {
  font-weight: $font-weight-normal;
  font-size: $font-size-13;
  color: $high-emphasys;
}

.user-access__get-in__box {
  input {
    font-weight: $font-weight-normal;
    font-size: $font-size-15;
    color: $high-emphasys;
  }

  label {
    font-weight: $font-weight-normal;
    font-size: $font-size-13;
    color: $high-emphasys;
  }
}

.login__interface__stay-logged-ing {
  input {
    font-weight: $font-weight-normal;
    font-size: $font-size-15;
    color: $high-emphasys;
  }

  .forgotten-password {
    font-weight: $font-weight-normal;
    font-size: $font-size-15;
    color: $medium-emphasys;
  }
}

.login-btn {
  font-weight: $font-weight-normal;
  font-size: $font-size-15;
  color: $high-emphasys-inverse;
}

.user-access__paragraph {
  font-weight: $font-weight-normal;
  font-size: $font-size-15;
  color: $medium-emphasys;
}

.register {
  .integration__btn {
    font-weight: $font-weight-bold;
    font-size: $font-size-15;
    color: $high-emphasys;
  }
}

.login {
  .user-access__figcaption {
    line-height: $line-spacing-21;
  }
}

.create-account-btn {
  font-weight: $font-weight-medium;
  font-size: $font-size-15;
  color: $high-emphasys;
  line-height: $line-spacing-21;
}

.book-list__header {
  .book-list__heading {
    font-weight: $font-weight-normal;
    font-size: $font-size-15;
    color: $medium-emphasys;
  }

  .book-list__page-name {
    font-weight: $font-weight-normal;
    font-size: $font-size-15;
    color: $high-emphasys;
  }

  .book-list__book-name {
    font-weight: $font-weight-normal;
    font-size: $font-size-15;
    color: $medium-emphasys;
  }
}