.book-list-page {
  height: 100vh;

  .book-list__product {
    padding: 9.5em 0 5em 0;
    background-color: $background;

    .flex-container {
      height: 43em;
      gap: 2em;

      .book-list__product_image {
        position: relative;
        flex: 1;
        flex-basis: 40px;
        img {
          height: 100%;
        }

        .fullscreen-img {
          width: 25px;
          height: 25px;
        }
      }

      .book-list__product-info {
        flex: 2;
        padding: 3em;
        border-radius: 4px;

        .flex-container {
          flex-direction: column;
          gap: 1em;
        }

        .my-btn {
          @include my-btn($primary, $high-emphasys-inverse);
        }

        .book-list__product__genres {
          display: flex;
          gap: 0.75em;
        }

        .book-list__product__library {
          display: flex;
          gap: 1.875em;

          li {
            @include direction-column;
            gap: 0.5em;
          }
        }

        .book-list__product__controls {
          display: flex;
          gap: 0.75em;

          .like-btn {
            height: 100%;
          }
        }
      }
    }
  }
}

.success-modal {
  top: 5em;
  right: 2em;
  width: 150px;
  border-radius: .3em;
  border-left: 5px solid $primary;
  box-shadow: $shadow-bottom;
  z-index: 10000;
}
