.register-btn {
    border-radius: $border-radius;
    background-color: $background-dark;
    padding: .8em 1.5em;
}

.language-btn {
    @include direction-row;
    gap: .3em;
}

.navigate-btn {
    background-color: $primary-background;
    padding: .8em 1.5em;
    border-radius: $border-radius;
}

.like-btn,
.save-btn {
    padding: .4em;
    background-color: $background-dark;
    border: 1px solid $background-dark;
    cursor: pointer;
}