.register-btn {
  border-radius: $border-radius;
  background-color: $grey-10;
  padding: 0.8em 1.5em;
}

.language-btn {
  @include direction-row;
  gap: 0.3em;
}

.navigate-btn {
  background-color: $primary;
  box-shadow: 0px 6px 12px #00000029;;
  border-radius: $border-radius;
  padding: 0.8em 1.5em;
}

.like-btn,
.save-btn {
  padding: 0.8em;
  background-color: $grey-20;
  border: 1px solid $grey-20;
  border-radius: $border-radius;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-article {
  .find-book {
    @include live-map-btn;
    box-shadow: 0px 12px 15px -10px lighten($primary, 5%);
    padding: 0.8em 1.9em;
  }
}

.store-informations {
  .book-list {
    @include live-map-btn;
    box-shadow: 0px 8px 12px -8px lighten($primary, 5%);
    padding: 0.7em 1em;
  }
}

.slide-control {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  margin-right: .5em;
  outline: none;
  background-color: $high-emphasys-inverse;
  border: 1px solid $black-20;
}

.slideControlActive {
  background-color: $black-20;
}

.new-slide {
  position: absolute;
  bottom: 1.5em;
  right: 2em;
  cursor: pointer;
}

.filter-book {
  @include live-map-btn;
  box-shadow: 0px 6px 12px #00000029;
  display: flex;
  align-items: center;
  padding: .9em 1.5em;
}

.integration__btn:first-child {
  margin-bottom: .5em;
}

.integration__btn {
  padding: .8em 0;
  background-color: $grey-10;
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

.login-btn {
  margin-top: 1.5em;
  padding: .8125em;
  border: none;
  border-radius: 4px;
  box-shadow: 0px 12px 15px -10px #ff1aff;
  background-color: $primary;
  width: 100%;
  cursor: pointer;
}

.login-nav-btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
}