.filter-product__label {
  display: block;
  margin-bottom: 0.7em;
}

.filter-product {
  position: absolute;
  padding: 6em 1.5em;
  top: 0;
  left: 0;
  z-index: 900;
  background-color: $high-emphasys-inverse;
  box-shadow: $shadow-bottom;
  width: 25em;
  height: 100vh;

  .filter-product__heading {
    margin-bottom: 1em;
  }

  .flex-container {
    @include direction-row;
  }

  .search-location {
    position: relative;
    margin-bottom: 1.5em;

    input[name="place"] {
      width: 15em;
      background-color: $background;
      border-radius: $border-radius;
      border: none;
      padding: 1em 1.5em 1em 3em;
      margin-right: 1em;
      outline: none;
    }

    .radius {
      .flex-container {
        gap: 0.5em;
      }
    }
  }
}

.filter-split {
  margin-top: 1em;
  .flex-container {
    align-items: flex-start;
    justify-content: space-between;

    .left,
    .right {
      flex: 1;
    }
  }

  .filter-split__type {
    label {
      cursor: pointer;

      &::selection {
        color: none;
        background-color: none;
      }
    }
  }

  .filter-split__type.flex-container {
    justify-content: flex-start;
    align-items: center;
    position: relative;
    gap: 0.5em;
    margin-bottom: 0.6em;
  }

  input[type="checkbox"] {
    display: flex;
    cursor: pointer;
    width: 16px;
    height: 16px;
    border-radius: $border-radius;
  }
}

.filter-book-wrapper {
  margin-top: 1.5em;
  display: flex;
  align-items: center;
  gap: 1em;
}

.label {
  display: flex;
  position: relative;
  padding-right: 1em;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.label input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 13px;
  width: 13px;
  background-color: $high-emphasys-inverse;
  border-radius: .1em;
  outline: 1px solid $high-emphasys;
}

.label:hover input ~ .checkmark {
  background-color: $high-emphasys-inverse;
}

.label input:checked ~ .checkmark {
  outline: 1px solid $primary;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.label input:checked ~ .checkmark:after {
  display: block;
}

.label .checkmark:after {
  left: 4.5px;
  top: 1.2px;
  width: 3px;
  height: 7px;
  border: solid $primary;
  border-width: 0 1.99px 1.99px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}