.main-header {
  .navigation-icon {
    width: $icon-width-small;
  }
}

.about-library-media {
  .like-btn,
  .save-btn {
    height: 100%;
    border-radius: $border-radius;
  }
}

.features__icon {
  border: 1px solid $primary;
  background-color: $primary-10;
  border-radius: $border-radius;
  padding: 0.3em;
  width: 35px;
  height: 35px;
}

.features__icon-grey {
  border: 1px solid $grey-10;
}

.filter-product {
  .search-icon {
    position: absolute;
    top: 2.3em;
    left: 0.8em;
  }

  .marker-icon {
    width: 15px;
  }

  .radius-dropdown {
    width: 20px;
    cursor: pointer;
  }
}

.close-icon {
  cursor: pointer;
}

.store-informations__media {
  .media-icon {
    padding: 0.5em;
    background-color: $grey-10;
    border-radius: $border-radius;
    cursor: pointer;
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.drop-down-icon {
  width: 12px;
  cursor: pointer;
}

.close-icon {
  cursor: pointer;
}

.toggle-favorite__icon {
  cursor: pointer;
}