.gm-ui-hover-effect {
  display: none !important;
}

.info-window {
  background-color: $background-very-light;
  width: 500px;
  height: 230px;

  .flex-container {
    gap: 2em;
    height: 98%;
    justify-content: center;
  }

  .store-img {
    width: 230px;
    height: 100%;
  }

  .store-informations {
    .opened {
      margin-right: 0.5em;
    }

    .flex-container {
      @include direction-column;
      height: 100%;
      gap: 1em;
    }

    a {
      text-decoration: underline;
    }

    .store-informations__media {
      .media-icon {
        padding: 0.5em;
        background-color: $background-dark;
        border-radius: $border-radius;
        cursor: pointer;

        img {
          width: 30px;
          height: 25px;
        }
      }

      .flex-container {
        flex-direction: row;
        justify-content: flex-start;
        gap: 0.5em;
      }
    }
  }
}
