.login {
  @include user-access;

  .flex-container {
    @include split-equally;
    height: 100%;
  }

  .login__interface {
    .user-access__header {
      @include user-access-header;
    }

    .user-access__figcaption {
      margin-bottom: 1.5em;
    }

    .login__interface__stay-logged-ing {
      margin-top: 1.5em;
      display: flex;
      justify-content: space-between;

      label {
        display: flex;
        align-items: center;
        gap: 0.5em;
      }
    }

    .login-interface__integration {
      margin-top: 1.5em;
      display: flex;
      justify-content: center;
      gap: 1em;
    }

    .user-access__paragraph {
      text-align: center;
      margin: 2em 0;
    }
  }

  .login__illustration {
    img {
      @include user-access-img;
    }
  }
}
