.news {
  flex: 2;
  margin-bottom: 5em;

  .flex-container {
    justify-content: space-between;
    @include direction-row;

    .news__article__settings {
      width: 16px;
      height: 19px;
      margin-right: 1em;
    }
  }

  .news__article {
    margin-bottom: 1em;

    .article-heading {
      margin-bottom: 0.3em;
    }

    .news__article__image {
      img {
        height: $intro-image-height;
        width: 100%;
      }
    }

    .news__article__footer {
      .about-event {
        flex: 2;
      }

      .media {
        position: relative;
        display: flex;
        justify-content: flex-end;
        gap: 1.5em;


        img {
          width: 19px;
          height: 19px;
          cursor: pointer;
        }

        svg {
          vertical-align: unset;
        }

      }

      .wrapper {
        flex: 2;
        align-items: flex-start;

        .details {
          @include direction-row;

          .mark {
            @include direction-row;
            background-color: $primary-80;
            border-radius: 2px;
            gap: 0.2em;
            padding: 0.1em 0.8em;
            margin-right: 1em;

            img {
              width: 20px;
            }
          }

          .date {
            margin-right: 1em;
          }
        }
      }
    }
  }
}
