.aside {
  flex: 1;

  article {
    padding: $padding-2em;
  }

  .aside__informations {
    @include direction-column;
    gap: 1.5em;
    margin-top: 1.5em;

    .aside__informations__heading {
      margin-bottom: 0.5em;
    }

    .opened {
      margin: 0.4em 0;
    }

    .more-informations {
      text-decoration: underline solid $medium-emphasys;
    }

    .features {
      @include direction-row;
      justify-content: space-between;

      p {
        @include direction-row;
        gap: 1em;
        margin-top: 1em;
      }

      img {
        filter: invert(16%) sepia(95%) saturate(4232%) hue-rotate(298deg)
          brightness(120%) contrast(120%);
      }

      .features__icon-grey img{
        filter: invert(70%) sepia(0%) saturate(1181%) hue-rotate(176deg) brightness(110%) contrast(80%)!important;
      }
    }
  }
}
