.selected-book {
  position: absolute;
  padding: 0.4em;
  top: 6em;
  left: 25.5em;
  z-index: 500;
  background-color: $high-emphasys-inverse;
  border-radius: $border-radius;
  box-shadow: $shadow-bottom;

  .flex-container {
    @include direction-row;
    justify-content: space-between;
  }

  .product-img {
    width: 34px;
    height: 52px;
  }

  .books__info {
    margin: 0 1em;

    .books__name {
      margin-bottom: 0.5em;
    }
  }
}
