.selected-book {
  position: absolute;
  padding: 0.5em;
  top: 5em;
  left: 1em;
  z-index: 500;
  height: 4.25em;

  border-radius: $border-radius;
  box-shadow: $shadow-bottom;

  .flex-container {
    @include direction-row;
    justify-content: space-between;
    height: 100%;
  }

  .product-img {
    width: 34px;
    height: 52px;
    height: 100%;
  }

  .books__info {
    margin: 0 1em;

    .books__name {
      margin-bottom: 0.25em;
    }
  }
}
