.subfooter {
    padding: 8.625em 0;
  
    .subfooter__heading {
      display: inline-block;
      margin-bottom: 1px;
      background-color: $black-10;
      padding: 0 5px;
    }
  
    .subfooter__paragraph {
      margin-top: 1.3125em;
    }
  }
  