.map-container {
  overflow-y: hidden;
}

.container {
  @include container;
  margin: 0 auto;
}

.search-wrapper {
  position: absolute;
  top: 5em;
  left: 50%;
  transform: translateX(-50%);
  z-index: 100;
  width: 33em;
}

.wrapper-padding {
  padding: 3.625em 3em;
}
