.map-container {
  overflow-y: hidden;
}

.container {
  @include container;
  margin: 0 auto;
}

.search-wrapper {
  position: absolute;
  top: 5em;
  left: 50%;
  transform: translateX(-50%);
  z-index: 100;
  width: 33em;
}

.wrapper-padding {
  padding: 3.625em 3em;
}

.blur {
  filter: blur(5px) !important;
  max-height: 100vh !important;
  overflow-y: hidden !important;
}
.dead-background {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 500;
}