@mixin container {
    max-width: $container-width;
    padding: 0 1em;
}

@mixin direction-column {
    display: flex;
    flex-direction: column;
}

@mixin direction-row {
    display: flex;
    align-items: center;
}

@mixin column-space-around {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

@mixin live-map-btn {
    background-color: $primary-background;
    border-radius: $border-radius;
    border: none;
    cursor: pointer;
}

@mixin product-img {
    width: 40px;
    height: 65px;
}