@mixin container {
    max-width: $container-width;
    padding: 0 1em;
}

@mixin direction-column {
    display: flex;
    flex-direction: column;
}

@mixin direction-row {
    display: flex;
    align-items: center;
}