
/* FONT */
$font-family: 'Work Sans', sans-serif;

$font-weight-regular: 400;
$font-weight-medium: 500;

$font-size-very-small: 13px;
$font-size-small: 15px;
$font-size-medium: 17px;
$font-size-large: 26px;
$font-size-filter-h2: 22px;

/* COLORS */
$background-very-light: #FFFFFF;
$background-light: #F2F2F2;
$background-dark-medium: #333333;
$background-dark: #E6E6E6;

$primary-sec-background: #FBE7FD;
$primary-background: #FF00FF;
$primary-dark-background: #450B49;

$text-color-very-light: #FFFFFF;
$text-color-light: #00000099;
$text-color-emphasys: #00000061;
$text-color-dark: #000000DE;
$text-color-darkest: #000000;
$text-color-primary: #450B49;
$text-color-opened: #00B200DE;

/* PROPERTIES */
$shadow-bottom: 0px 6px 18px #0000001A;
$container-width: 1440px;

$intro-image-height: 500px;
$icon-width-small: 15px;
$icon-width-medium: 42px;

$border-radius: .3em;
$border-radius-bottom: 0 0 .3em .3em;

$padding-2em: 2em;
